# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
venv/
myenv/
.venv/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the Anaconda environment folder
Anaconda3/

# Ignore logs and other temporary files
*.log
*.tmp
*.swp

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore data (e.g., large datasets)
data/
